/*---- Header ----*/
.img-redonda {
    border-radius:160px;
    border:10px solid #666;
    display: block;
    height:220px;
    margin: auto;
    text-align: center;
    width:220px;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
}

header {
    background-image: url('../img/banner.jpg');
    background-size: 100%;
    padding-top: 15px;
}

/*---- Section ----*/
body {
    margin: 0;
    padding: 0;
}

h3, h1 {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 8px 0px 5px 5px;
    padding-left: 5px;
    text-transform: uppercase;
    width: auto;
}

span {
    font-weight: bold;
}

.sin-vinetas {
    list-style-type: none;
    padding-left: 20px;
}

.li-align {
    text-indent: 78px;
}

.btn-flotante {
    background-color: #005677;
    border-radius: 100px;
    bottom: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff; 
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 18px 20px;
	position: fixed;
	right: 10px;
    text-decoration: none;
	transition: all 300ms ease 0ms;
    z-index: 99;
}
.btn-flotante:hover {
	background-color: #ffffff;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    color: #005677;
	transform: translateY(-7px);
}

/*---- Footer ----*/
footer {
    align-items: center;
    background-color: #005677;
    color: white;
    display: flex;
    height: 37px;
    justify-content: center;
}

footer img {
    padding-left: 8px;
}
